*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: $fs-3;
    line-height: $lh-1;
    color: $cl-dark-0;
    background-color: $cl-white-0;
    // width: $width-1;
}
