%displayFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
%headerText {
  font-style: $f-style-0;
  font-weight: $fw-3;
  font-size: $fs-3;
  line-height: $lh-7;
  color: $cl-dark-0;
}
%headerTextSection {
  font-style: $f-style-0;
  font-weight: $fw-3;
  font-size: $fs-3;
  line-height: $lh-7;
  color: $cl-dark-0;
}
.title__head{
  font-size: $fs-4;
  line-height: $lh-7;
  font-weight: $fw-3;
  font-style: $f-style-0;
}
.details{
  font-size: $fs-3;
  line-height: $lh-1;
  font-weight: $fw-4;
  font-style: $f-style-0;
}
.text__head{
  @extend %displayFlex;
  justify-content: space-between;
  margin-bottom: $mg-2;
  margin-top: 5.5625rem;

  .title__head{
    // padding-right: 2rem;?
    width: 23.125;
  }

  .details{
    width: 834px;
  }
}
.container{
  padding: 0 $pd-4;
}


