// dark color 
$cl-dark-0: #000;

// white color 
$cl-white-0: #fff;
$cl-white-1: rgb(226, 226, 226);

// font size 
$fs-0: 0.75rem;
$fs-1: 0.875rem;
$fs-2: 1rem;
$fs-3: 1.125rem;
$fs-4: 2.25rem;

// margin
$mg-0: 0.625rem;
$mg-1: 2.5rem;
$mg-2: 3rem;
$mg-3: 1.875rem;
$mg-4: 1.25rem;

// padding 
$pd-0: 0.3125rem; 
$pd-1: 0.635rem; 
$pd-2: 1.4375rem; 
$pd-3: 2.25rem; 
$pd-4: 6.375rem; 

// line height 
$lh-0: 0.9375rem;
$lh-1: 1.3125rem;
$lh-2: 1.375rem;
$lh-3: 1.5rem;
$lh-4: 1.6875rem;
$lh-5: 1.875rem;
$lh-6: 2.5rem;
$lh-7: 3rem;

// font weight 
$fw-0: 300;
$fw-1: 400;
$fw-2: 700;
$fw-3: bold;
$fw-4: normal;

// font style 
$f-style-0: normal;

// border 
$border-0: 1px;
$border-1: none;

// border color 
$border-cl-0: transparent;

// width
$width-0: 135px;
$width-1: 1440px;

// height
$height-0: 40px;
$height-1: 80px;

